.Background {
  position: relative;
}
.BackgroundfirstImg:hover {
  /* filter: invert(88%) sepia(21%) saturate(935%) hue-rotate(123deg) brightness(85%) contrast(97%); */
  filter:grayscale(50%);}
.BackgroundfirstImg {
  width: 100%;
}

.Backgroundfirstmaindiv {
  align-self: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 708px;
  height: 400px;
  background: #ffffff;
  backdrop-filter: blur(40px);
  padding: 30px 40px;
  border-bottom: 10px solid #ffd2a4;
  display: flex;
  transition: 0.3s;
}
.Backgroundfirstdiv {
  align-self: center;
}
.Backgroundfirstdivh2 {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #161722;
}
.Backgroundfirstdivp {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin: 20px 0px;
  color: #161722;
  opacity: 0.78;
}
.Backgroundfirstdivbtn {
  color: black;
  padding: 15px 50px;
  text-align: center;
  text-transform: uppercase;
  background: #ffd2a4;
  border-radius: 12px;
}
@media (max-width: 1200px) and (min-width: 992px) {
  .Backgroundfirstmaindiv {
    width: 658px;
    height: 304px;
  }
  .Backgroundfirstdivh2 {
    font-size: 34px;
    line-height: 44px;
  }
  .Backgroundfirstdivp {
    font-size: 16px;
    line-height: 24px;
  }
}
@media (max-width: 992px) and (min-width: 767px) {
  .Backgroundfirstmaindiv {
    width: 450px;
    height: 254px;
  }
  .Backgroundfirstdivh2 {
    font-size: 20px;
    line-height: 20px;
  }
  .Backgroundfirstdivp {
    font-size: 16px;
    line-height: 24px;
  }
  .Backgroundfirstdivbtn{
    padding: 13px 30px;
    font-size: 10px;
  }
}
@media (max-width: 767px) and (min-width: 567px) {
  .Backgroundfirstmaindiv {
    width: 350px;
    height: 200px;
  }
  .Backgroundfirstdivh2 {
    margin-bottom: 0;
    font-size: 20px;
    line-height: 30px;
  }
  .Backgroundfirstdivp {
    margin: 5px 0px;
    font-size: 12px;
    line-height: 12px;
  }
  .Backgroundfirstdivbtn {
    padding: 8px 20px;
  }
}
@media (max-width: 567px) and (min-width: 350px) {
  .Backgroundfirstmaindiv {
    width: 250px;
    height: 150px;
  }
  .Backgroundfirstdivh2 {
    font-size: 15px;
    line-height: 15px;
  }
  .Backgroundfirstdivp {
    margin: 5px 0px;
    font-size: 9px;
    line-height: 10px;
  }
  .Backgroundfirstdivbtn {
    font-size: 10px;
    padding: 0px 10px;
  }
}
@media (max-width: 350px) and (min-width: 320px) {
  .Backgroundfirstmaindiv {
    width: 272px;
    height: 130px;
  }
  .Backgroundfirstdivh2 {
    font-size: 12px;
    line-height: 14px;
  }
  .Backgroundfirstdivp {
    margin: 5px 0px;
    font-size: 8px;
    line-height: 9px;
  }
  .Backgroundfirstdivbtn {
    padding: 4px 20px;
    font-size: 8px;
  }
}
