.BenefitsH5 {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #161722;
}
.Benefitskey {
  display: flex;
}
.BenefitsH2 {
  margin-bottom: 20px;
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #161722;
}
.BenefitsCol {
  padding-right: 30px;
  align-self: center;
  margin: 10px 0px;
}
.BenefitsCol2 {
  margin: 10px 0px;
}
.BenefitsFirstdiv {
  padding: 20px;
  margin: 10px 0px;
}
.BenefitsFirstdivH4 {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #161722;
}
.BenefitsFirstdivP {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #161722;
  opacity: 0.78;
}
.BenefitsSecoundConditiondiv {
  display: flex;
}

@media (max-width: 992px) and (min-width: 767px) {
  .BenefitsH2 {
    font-size: 43px;
  }
  .BenefitsFirstdivH4 {
    font-size: 29px;
  }
}
@media (max-width: 767px) and (min-width: 567px) {
  .Benefitskey {
    display: block;
  }
  .BenefitsH2 {
    font-size: 31px;
    line-height: 30px;
  }
  .BenefitsFirstdivH4 {
    font-size: 20px;
    line-height: 25px;
  }
  .BenefitsSecoundConditiondiv {
    display: flex;
    flex-direction: column-reverse;
  }
  .BenefitsFirstdiv {
    padding: 0px;
  }
}
@media (max-width: 567px) and (min-width: 350px) {
  .Benefitskey {
    display: block;
  }
  .BenefitsH2 {
    font-size: 20px;
    line-height: 20px;
  }
  .BenefitsFirstdivH4 {
    font-size: 15px;
    line-height: 20px;
  }
  .BenefitsSecoundConditiondiv {
    display: flex;
    flex-direction: column-reverse;
  }
  .BenefitsFirstdiv {
    padding: 0px;
  }
}
@media (max-width: 350px) and (min-width: 320px) {
  .Benefitskey {
    display: block;
  }
  .BenefitsH2 {
    font-size: 16px;
    line-height: 20px;
  }
  .BenefitsFirstdivH4 {
    font-size: 15px;
    line-height: 20px;
  }
  .BenefitsSecoundConditiondiv {
    display: flex;
    flex-direction: column-reverse;
  }
  .BenefitsFirstdiv {
    padding: 0px;
  }
}
