.Upcomingsermons_container_row {
  padding: 30px 0px;
}
.Upcomingsermons_h5 {
  padding-top: 50px;
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  text-align: center;
  text-transform: uppercase;

  /* Black */

  color: #161722;
}
.Upcomingsermons_h2 {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  /* or 133% */

  text-align: center;
  letter-spacing: -0.01em;
  text-transform: uppercase;

  /* Black */

  color: #161722;
}
.Upcomingsermons_container_col1 {
  background: #fff5eb;
  padding: 40px;
}
.Upcomingsermons_container_first_col_div {
  display: flex;
  justify-content: space-between;
}
.Upcomingsermons_container_first_col_h6 {
  align-self: flex-end;
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -0.01em;
  text-transform: uppercase;

  /* Black */

  color: #161722;
}
.Upcomingsermons_container_first_col_h5 {
  align-self: end;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */

  letter-spacing: 0.08em;
  text-transform: uppercase;

  /* Gradient */

  background: linear-gradient(109.61deg, #a54e2b -53.83%, #dc9853 62.61%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.Upcomingsermons_container_first_col_h3 {
  margin: 20px 0px;
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -0.01em;
  text-transform: uppercase;

  /* Black */

  color: #161722;
}
.Upcomingsermons_container_first_col_p {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */

  /* Black */

  color: #161722;

  opacity: 0.78;
}
.Upcomingsermons_container_first_col_secound_div,
.Upcomingsermons_container_first_col_third_div {
  display: flex;
}
.Upcomingsermons_container_first_col_secound_div_text,
.Upcomingsermons_container_first_col_third_div_text {
  margin-left: 30px;
}
.Upcomingsermons_container_col1_btn {
  margin-top: 30px;
  background: #161722;
  backdrop-filter: blur(80px);
  padding: 8px 70px;
  /* Note: backdrop-filter has minimal browser support */
  color: #ffd2a4;
  border-radius: 12px;
}
.Upcomingsermons_container_col2 {
  width: 100%;
}
.Upcomingsermons_container_col2_img1 {
  width: 100%;
  height: 512px;
}
.Upcomingsermons_container_col {
  padding: 0;
}
.Upcomingsermons_container_last_btn {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height, or 133% */

  /* Black */
  margin-right: 10px;
  color: #161722;
}
@media (max-width: 992px) and (min-width: 767px) {
  .Upcomingsermons_h2 {
    font-size: 42px;
    line-height: 56px;
  }
}
@media (max-width: 767px) and (min-width: 567px) {
  .Upcomingsermons_h2 {
    font-size: 39px;
    line-height: 50px;
  }
}
@media (max-width: 567px) and (min-width: 350px) {
  .Upcomingsermons_h2 {
    font-size: 30px;
    line-height: 40px;
  }
}

@media (max-width: 350px) and (min-width: 320px) {
  .Upcomingsermons_h2 {
    font-size: 25px;
    line-height: 35px;
  }
}
